body {
    font-family: "Roboto", sans-serif;
    position: relative
}

/* HEADER */

/* First div */

header {
    background-color: #ffc017;
    position: relative;
    /* width: 100%; */
}

header > div:nth-child(1) {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1.3em;
    align-items: center;
}

header div:nth-child(1) li:nth-child(1), header div:nth-child(1) li:nth-child(2), header div:nth-child(1) li:nth-child(3) {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 2em;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

.buttonBlack {
    padding: 0.8em 1em;
    background-color: black;
    color: white;
    border-radius: 20px;
}

/* 2nd div */

header > div:nth-child(2) {
    display: flex;
    /* width: 100%; */
    border-bottom: 1px solid black;
    padding-left: 1em;
}

header div div {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

header h1 {
    font-family: "Spectral", serif;
    font-size: 4em;
    margin: 0.8em 0 0.5em 0;
    width: 100%;
}

header div div p {
    margin-bottom: 2em;
}

header div div button {
    width: 40%;
    margin-right: auto;
    margin-bottom: 3em;
}

.buttonBlack a {
    color: white;
    text-decoration: none;
    padding: 0 2em;
}

header svg {
    width: 40%;
    display: none;
}

/* MAIN */

/* Section */

main {
    padding: 0 1.5em;
}

main section:nth-child(1) {
    padding: 2em 1em 2em 0;
    border-bottom: 1px solid lightgray;
}

main section:nth-child(1) > div:first-child {
    display: flex;
    align-items: center;
}

main section:nth-child(1) > div:last-child {
    flex-direction: column;
    justify-content: flex-start;
}

main section:nth-child(1) > div img {
    margin-right: 1em;
}

main h2 {
    font-size: 0.8em;
    font-weight: 600;
    word-spacing: 0.2em;
}

main section:nth-child(1) article {
    display: flex;
    margin: 1em 0;
}

main section:nth-child(1) article > p {
    color: rgb(224, 224, 224);
    font-size: 1.8em;
    font-weight: bold;
    margin-right: 1em;
}

main article div div.titleDiv img {
    height: 1.2em;
    border-radius: 20px;
    margin-right: 0.5em;
}

main section:nth-child(1) article div {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

main article div div.titleDiv, main article div div.lastDivArticle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
}

main article div div.titleDiv p {
    font-size: 0.7em;
    font-weight: bold;
}

main section:nth-child(1) article div h3 a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

main section:nth-child(1) article div h3 {
    margin-bottom: 0.8em;
}

main article .lastDivArticle p {
    color: gray;
    font-weight: normal;
    width: 100%;
    font-size: 0.6em;
}

main section:nth-child(1) article .lastDivArticle p:last-child {
    width: 150px;
}

/* Aside */

aside {
    padding: 2.5em 1.5em 0 0;
}

aside h2 {
    margin-bottom: 1.3em;
}

aside button {
    background-color: white;
    border: 1px solid lightgray;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
}

aside button a {
    color: gray;
    text-decoration: none;
}

aside nav {
    margin-top: 2em;
    padding-top: 2em;
    /* padding-bottom: 1.5em; */
    border-top: 1px solid lightgray;
}

aside nav ul {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

aside nav ul li {
    margin-bottom: 0.5em;
}

aside nav ul li a {
    color: gray;
}

/* Last section, the one with the articles */

h3 a {
    color: black;
    text-decoration: none;
}

#sectionWithArticles article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5em;
}

#sectionWithArticles article div {
    width: 70%;
}

#sectionWithArticles article img:last-child {
    width: 30%;
    height: 100%;
}

#sectionWithArticles article h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.3em;
    width: 90%;
    line-height: 1.2em;
}

#sectionWithArticles article h3+p {
    width: 90%;
    height: 30px;
    overflow: hidden;
    text-overflow:ellipsis;
    color: gray;
    font-size: 0.8em;
    line-height: 1em;
    white-space: nowrap;
}

#sectionWithArticles article div div.lastDivArticle {
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
}

#sectionWithArticles article div div.lastDivArticle p:last-of-type {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 0.5em;
}

#sectionWithArticles article div.lastDivArticle img {
    width: 20px;
    margin-left: 10px;
}

#sectionWithArticles article div div.lastDivArticle div {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Tablet! */

@media screen and (min-width: 768px) {


    /* Header */

    header div {
        padding-left: 2.5em;
    }

    header div:nth-child(1) li:nth-child(1), header div:nth-child(1) li:nth-child(2), header div:nth-child(1) li:nth-child(3) {
    display: block;
    }

    nav ul li {
    margin-right: 1em;
    }

    header div:nth-child(1) {
        position: sticky;
        top: 0;
    }

    header div:nth-child(2) div {
        width: 60%;
    }

    header svg {
        display: block;
        height: auto;
        width: 40%;
        transform: translateX(100px);
    }

    header div div button {
        width: 50%;
    }

    /* Main */

    main {
        padding-left: 2.5em;
    }

    main section:nth-child(1) {
        display: flex;
        flex-direction: column;
    }

    main section:nth-child(1) div:nth-child(2) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-right: 1em;
        align-items: flex-start;
    }
    
    main section:nth-child(1) div:nth-child(2) article {
        width: 45%;        
    }

    main section:nth-child(1) div:nth-child(2) article div {
        justify-content: left;
    }

    main section:nth-child(1) div:nth-child(2) article > p {
        margin-right: 0.5em;
    }

    main section:nth-child(1) div:nth-child(2) article div div.lastDivArticle {
    justify-content: flex-start;
    padding-right: 10px;
    align-items: center;
    }

main section:nth-child(1) div:nth-child(2) article div div.lastDivArticle p:first-child {
    width: 20%;
}

main section:nth-child(1) div:nth-child(2) article div div.lastDivArticle p:nth-child(2) {
    width: 5%;
}

    /* Main second section and aside */

    #sectionWithArticles article div div.lastDivArticle {
        justify-content: space-between;
        padding-right: 10px;
        align-items: center;
        width: 90%;
    }

    #sectionWithArticles article div div.lastDivArticle div > p {
        width: auto;
        margin-right: 0.4em;
    }

}

@media screen and (min-width:1200px) {
   
    /* Header */

    header div {
        padding: 0 3em;
    }

    header svg {
        transform: translateX(0);
    }

    header div:nth-child(2) {
        align-items: center;
    }

    /* Main */
    main section:nth-child(1) div:nth-child(2) article {
        width: 30%;
    }
   
    #sideToSide {
        position: relative;
        margin-top: 2em;
    }

    #sideToSide aside {
        position: absolute;
        right: 0;
        width: 35%;
        padding-top: 0;
    }

    #sideToSide section {
        position: absolute;
        left: 0;
        width: 55%;
        /* margin-top: 2em; */
    }
}